<p>Hey {{ name }},</p>

<p>Your Username is {{ name }} and password is {{ temp_pass_word }} </p>

<p>If you did not request this email you can safely ignore it.</p>

<p>please click the below link to Change your password.</p>

<a href="http://localhost:4200/app-change-password/{{name}}/{{id}}">Click Here</a>